/* root */
:root{
    --green : #296143;
    --black : #0F0F0F;
    --orange : #E28731;
    --blue : #1E4B99;
    --light-gray : #F8F8F8;

    --border-color-gray:#DDDDDD;

    --font-black:#0F0F0F;
    --font-gray:#444444;
    --font-light-gray:#6A6A6A;

    --border-radius:5px;

    --font-size-big-big:52px;
    --font-size-big:36px;
    --font-size-semi-big:32px;
    --font-size-normal:24px;
    --font-size-semi-small:20px;
    --font-size-small:18px;
    --font-size-small-small:17px;
    --font-size-small-small-small:16px;
}


/* Font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
    font-family: Pretendard,Roboto,Noto Sans KR,Segoe UI,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
    color:var(--font-black);
    font-size: var(--font-size-semi-small);
}


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}



/* wrap */
.wrap{
    max-width: 1380px;
    margin:0 auto;
    padding:0 20px;
}

.inner-wrap{
    max-width: 1260px;
    margin:0 auto;
}
@media only screen and (max-width:1300px){
    .inner-wrap{
        margin-right:60px;
        margin-left:60px;
    }
}


/* button */
button{
    border:0;
    background: var(--green);
    color:white;
    padding:20.4px 40px;
    min-width:250px;
    height: 74px;
    border-radius: 37px;
    font-size:28px;
    font-weight: 500;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.51);
    cursor: pointer;
    text-align: center;
}


/* table */
.table{
    h2{
        font-size:var(--font-size-semi-big);
        font-weight: 600;
    }

    .table-body{
        border-top:3px solid var(--black);
        margin-top: 27.5px;

        &>div{
            padding-top:18.5px;
            padding-bottom:18.5px;
            border-bottom: 2px solid var(--border-color-gray);
            display: flex;
            align-items: center;

            &>div:nth-of-type(1){
                width:212px;
                font-size: var(--font-size-normal);
                font-weight: 500;
                color:var(--font-gray);
            }
        }
    }
}


/* ipnut */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='date']{
    background: #eee;
    border:0;
    font-size: var(--font-size-normal);
    padding:8px;
    min-width: 350px;
}
::placeholder{
    color:var(--black);
    opacity: 0.3;
}
input[type='checkbox']{
    display: none;
}
input[type='checkbox']+label{
    &::before{
        content: '';
        display: inline-block;
        width:18px;
        height: 18px;
        background: #eee;
        margin-right:5px;
        transform: translateY(2px);
    }
}
input[type='checkbox']:checked+label{
    &::before{
        background: var(--green);
    }
}


/* star */
.star{
    display: inline-block;
    font-size:var(--font-size-small);
    color:var(--orange);
    margin-left:5px;
}


/* help */
.help{
    font-size:var(--font-size-small);
    color:var(--font-gray);
    font-weight: 400;
}


@media only screen and (max-width:1024px){
    .inner-wrap{
        margin-right:20px;
        margin-left:20px;
    }

    button{
        min-width:180px;
    }
}

@media only screen and (max-width:768px){
    
}

@media only screen and (max-width:425px){
    
    :root{
        --font-size-big-big:36px;
        // --font-size-big:36px;
        --font-size-semi-big:20px;
        --font-size-normal:18px;
        --font-size-semi-small:16px;
        --font-size-small:12px;
        // --font-size-small-small:17px;
        // --font-size-small-small-small:16px;
    }

    button{
        display: block;
        width:100%;
        margin-bottom:10px;
        font-size:18px;
        height:56px;
        line-height: 17px;
    }
    

    /* ipnut */
    input[type='text'],
    input[type='number'],
    input[type='password'],
    input[type='date']{
        min-width: 0;
        width:calc(100% - 14px);
        padding-top:12px;
        padding-bottom:12px;
    }

    /* table */
    .table{
        h2{
            font-weight: 500;
        }
    
        .table-body{
            margin-top: 17.5px;
    
            &>div{
                padding-top:18.5px;
                padding-bottom:18.5px;
                border-bottom: 2px solid var(--border-color-gray);
                display: flex;
                align-items: center;
    
                &>div:nth-of-type(1){
                    width:97px;
                    color:var(--font-gray);
                }
            }
        }
    }

    .table.type2{
        h2{
            font-weight: 500;
        }
    
        .table-body{
            margin-top: 17.5px;
    
            &>div{
                padding-top:14px;
                padding-bottom:14px;
                display: block;
    
                &>div:nth-of-type(1){
                    width:auto;
                    padding-bottom:13px;
                }
            }
        }
    }

    /* help */
    .help{
        font-size:16px;
    }


    /* star */
    .star{
        font-size:16px;
    }
    
}